.avatar {
  max-width: 16rem;
  margin: 0 auto;

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;

    border: 0.5rem solid var(--current);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
}
