.avatar {
  width: 10rem;
  height: 10rem;
  margin: 0 0 3.2rem;
  border-radius: 50%;
  border: 0.4rem solid var(--current);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  object-fit: cover;
}
