.avatar {
  width: 16rem;
  height: 16rem;
  margin: -16rem auto 6.4rem;
  border-radius: 50%;
  border: 0.5rem solid var(--current);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
